.body{
    margin: 10%;
}

.name{
    margin-bottom: 5%;
}

.link{
    text-decoration: none;
    color: red;
}

@media screen and (max-width: 600px) {
    img{
        width:100%;
        height:100%;
    }
}
